// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "Bulevar";
    src: url("/_assets/fonts/Bulevar-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "N27 Bold";
    src: url("/_assets/fonts/N27-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "N27 BoldItalic";
    src: url("/_assets/fonts/N27-BoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: "N27 ExtraLight";
    src: url("/_assets/fonts/N27-ExtraLight.woff2") format("woff2");
}
@font-face {
    font-family: "N27 ExtraLightItalic";
    src: url("/_assets/fonts/N27-ExtraLightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "N27 Light";
    src: url("/_assets/fonts/N27-Light.woff2") format("woff2");
}
@font-face {
    font-family: "N27 LightItalic";
    src: url("/_assets/fonts/N27-LightItalic.woff2") format("woff2");
}
@font-face {
    font-family: "N27 Medium";
    src: url("/_assets/fonts/N27-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "N27 MediumItalic";
    src: url("/_assets/fonts/N27-MediumItalic.woff2") format("woff2");
}
@font-face {
    font-family: "N27 Regular";
    src: url("/_assets/fonts/N27-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "N27 RegularItalic";
    src: url("/_assets/fonts/N27-RegularItalic.woff2") format("woff2");
}
@font-face {
    font-family: "N27 Thin";
    src: url("/_assets/fonts/N27-Thin.woff2") format("woff2");
}
@font-face {
    font-family: "N27 ThinItalic";
    src: url("/_assets/fonts/N27-ThinItalic.woff2") format("woff2");
}